<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Algorithmen</title>
</head>
<body>
    <div id="primary_container">
        <img src="../static/text.png" class="text_style">
        <div id="secondary_container">
            
            <div id="algtext">
                <h3>Lineaire regressie</h3>
                <p>Lineaire regressie is een wiskundige methode die wordt gebruikt om te bepalen of er een relatie bestaat tussen twee variabelen. 
                    Bijvoorbeeld hoe de hoogte van een persoon kan correleren met zijn/haar gewicht. 
                    In de wiskunde gebruiken we deze methode om een trendlijn te tekenen door een set van data punten, om zo te bepalen hoe goed deze passen bij het model.</p>
            </div>

            <img src="../static/linear.gif" id="alganimation">
        
            <img src="../static/naive.gif" id="alganimation">
            <div id="algtext">
                <h3>Naïve bayes</h3>
                <p>Naive Bayes is een eenvoudige en veelgebruikte machine learning-algoritme om voorspellingen te maken op basis van gegevens.
                     Het gaat uit van de Bayesiaanse theorie dat de kans op een uitkomst afhangt van de kans op de verschillende oorzaken die daaraan ten grondslag liggen. 
                    Naive Bayes maakt gebruik van statistische modellen om verbanden te leggen tussen de kenmerken van gegevens, zoals woorden in een tekst of eigenschappen van objecten, en de waarschijnlijkheid van een bepaalde uitkomst. Het algoritme is "naive" omdat het ervan uitgaat dat alle kenmerken onafhankelijk zijn van elkaar, hoewel dit in werkelijkheid vaak niet het geval is.</p>
            </div>
            <div id="algtext">
                <h3>Random forest</h3>
                <p>Een Random Forest is een computeralgoritme dat wordt gebruikt voor machine learning.
                    Het algoritme werkt door het combineren van meerdere 'bomen'. 
                    Deze bomen worden gevormd door verschillende input-variabelen te gebruiken om voorspellingen te doen over een bepaalde uitkomst. 
                    Het algoritme voert deze bomen uit en maakt gebruik van een 'voting' systeem om de uiteindelijke voorspelling te bepalen. 
                    Door de combinatie van verschillende bomen kan een Random Forest robuust en nauwkeurig zijn bij het voorspellen van toekomstige uitkomsten.
                </p>
            </div>
            <img src="../static/randomforest.gif" id="alganimation">
        </div>

        <div id="tertiary_container">
            <button class="button" onclick="window.location.href='/';">
                Home →
              </button>
              <button class="button" onclick="window.location.href='/data';">
                Data →
              </button>
        </div>
    </div>
</body>
</html>